# Reviewing Tables in R
## Political Science 3 Discussion (9/13) - Ian Castro

Today, we will play around with data in R. We can work with data

In [25]:
# We'll be looking at data about Iris flowers 
# Run this cell! Ignore what I'm doing below. 

iris$setosa <- ifelse(iris$Species == "setosa", 1, 0) # Making dummy variables
iris$versicolor <- ifelse(iris$Species == "versicolor", 1, 0)
iris$virginica <- ifelse(iris$Species == "virginica", 1, 0)

head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species setosa virginica
1 5.1          3.5         1.4          0.2         setosa  1      0
2 4.9          3.0         1.4          0.2         setosa  1      0
3 4.7          3.2         1.3          0.2         setosa  1      0
4 4.6          3.1         1.5          0.2         setosa  1      0
5 5.0          3.6         1.4          0.2         setosa  1      0
6 5.4          3.9         1.7          0.4         setosa  1      0
  versicolor
1 0
2 0
3 0
4 0
5 0
6 0

In [29]:
# Remember we can get values in a column by using $
head(iris$Sepal.Length) 
# I'm using the head function to only show the first few values
# instead of all 150+

[1] 5.1 4.9 4.7 4.6 5.0 5.4

In [31]:
# Remember, we can also give things names and reference that name
# For example -- what's the median petal length for all flowers in the dataset?
all_petal_lengths <- iris$Petal.Length
median(all_petal_lengths)

[1] 4.35

## Quick Check 1

Using the dummy variable columns, find the proportion of flowers in the dataset that are either the species `Iris setosa` or `Iris versicolor`. Save that value as the name `s_v_prop`.

In [32]:
# Use as many lines as you need!

s_v_prop <- ...
s_v_prop # Tell R to print the value

ERROR: Error in eval(expr, envir, enclos): '...' used in an incorrect context

## Subsetting

Let's focus on only the `Iris virginica` flowers in the dataset. We can do this by using the `subset` function, which takes the following arguments:

`subset(table, column_logical)`

A logical in R is the same thing as a Boolean in Python. In other words, it is a value (or set of values) that is either `TRUE` or `FALSE`. You can also think of them as 1 and 0.

We can get these by doing something called a Boolean comparison, where we compare a value to another, and if that condition is True, it will return `TRUE`. Here are some common comparisons:

| Logical Operator | R Code |
| - | - |
| does x equal y? | x == y |
| does x NOT equal y? | x != y |
| is x less than y? | x < y |
| is x greater than y? | x > y |
| is x less than or equal to y? | x <= y |
| is x greater than or equal to y? | x >= y |

In [37]:
# Logical example in R
x <- 5
y <- 10

x == y
x < y

[1] FALSE

[1] TRUE

In [39]:
# Let's practice using this to subset:
# subset(table, column_name <comparison> <value>)
virginica <- subset(iris, virginica == 1)
head(virginica)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species   setosa
101 6.3          3.3         6.0          2.5         virginica 0
102 5.8          2.7         5.1          1.9         virginica 0
103 7.1          3.0         5.9          2.1         virginica 0
104 6.3          2.9         5.6          1.8         virginica 0
105 6.5          3.0         5.8          2.2         virginica 0
106 7.6          3.0         6.6          2.1         virginica 0
    virginica versicolor
101 1         0
102 1         0
103 1         0
104 1         0
105 1         0
106 1         0

In [ ]:
# Not a quick check, but good practice:
# How can we get the virginica flowers using a different column?
subset(..., ...)

## Quick Check 2:

Using the `subset` function and some other R code, create a table that only has rows of Iris setosa flowers that have a sepal length smaller than the mean sepal length of ALL virginica flowers. Call this new table `small_setosas`.

*Hint:* You should use the `virginica` table to help find the mean sepal length of Iris virginica flowers.

In [44]:
avg_virginica_sepal_length <- mean(virginica$Sepal.Length)
setosa <- subset(iris, setosa == 1)
small_setosas <- subset(setosa, Sepal.Length < avg_virginica_sepal_length)

head(small_setosas)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species setosa virginica
1 5.1          3.5         1.4          0.2         setosa  1      0
2 4.9          3.0         1.4          0.2         setosa  1      0
3 4.7          3.2         1.3          0.2         setosa  1      0
4 4.6          3.1         1.5          0.2         setosa  1      0
5 5.0          3.6         1.4          0.2         setosa  1      0
6 5.4          3.9         1.7          0.4         setosa  1      0
  versicolor
1 0
2 0
3 0
4 0
5 0
6 0

## One-way tables

We can use the `table` function to create one and two way tables. One and two way tables are used to summarize the counts of each category in a table. To use the `table` function, just plug in the column that we want to check.

| One way | Two way |
| - | - | 
| table(data\$var1) | table(data\\$var1, data\$var2) |

In [47]:
# Let's see how many flowers are in each category!
table(iris$Species)

    setosa versicolor  virginica
        50         50         50